---
import type { HTMLAttributes } from 'astro/types'
import company76 from 'src/assets/75.svg'
import dkba from 'src/assets/dkba.svg'
import red from 'src/assets/red.svg'
import metall from 'src/assets/metall.svg'
import sotex from 'src/assets/sotex.svg'
import membranium from 'src/assets/membranium.svg'
import elkab from 'src/assets/elkab.svg'

interface Props extends HTMLAttributes<'section'> {}
---

<section
	id='Партнёры'
	class:list={['partners', Astro.props.class]}
	{...Astro.props}
>
	<div class='container'>
		<h2 class='title partners__title'>Наши партнёры</h2>
		<div class='partners__grid'>
			<img
				loading='lazy'
				class='partner-1'
				src={company76.src}
				alt='Компания 76'
			/>
			<img loading='lazy' class='partner-2' src={dkba.src} alt='Дкба' />
			<img loading='lazy' class='partner-3' src={sotex.src} alt='Sotex' />
			<img
				loading='lazy'
				class='red-img partner-4'
				src={red.src}
				alt='Красное сормово'
			/>
			<img
				loading='lazy'
				class='metall-img partner-5'
				src={metall.src}
				alt='Металл'
			/>
			<img
				loading='lazy'
				class='partner-6'
				src={membranium.src}
				alt='Мембраниум'
			/>
			<img loading='lazy' class='partner-7' src={elkab.src} alt='Элкаб' />
		</div>
	</div>
</section>

<style>
	.partners {
		padding-bottom: 56px;
	}
	.partners__grid {
		display: flex;
		row-gap: 30px;
		column-gap: 20px;
		justify-content: center;
		flex-wrap: wrap;
	}

	.partners__title {
		margin-bottom: 42px;
	}

	.red-img {
		width: 150px;
		height: 150px;
	}

	.metall-img {
		width: 150px;
		height: 150px;
	}

	.partner-1 {
		grid-area: company76;
	}

	.partner-2 {
		grid-area: dkba;
	}

	.partner-3 {
		grid-area: sortex;
	}

	.partner-4 {
		grid-area: redC;
	}

	.partner-5 {
		grid-area: metall;
	}

	.partner-6 {
		grid-area: membranium;
	}

	.partner-7 {
		grid-area: elkab;
	}
</style>
