---
import type { HTMLAttributes } from 'astro/types'
import type { OptionsCard } from '../types'
import Button from 'src/shared/components/Button.astro'
import Dialog from '@components/Dialog.astro'

interface Props extends HTMLAttributes<'li'> {
	item: OptionsCard
}

const { item } = Astro.props
---

<li class:list={['optionsCard', Astro.props.class]}>
	<div class='flex-item flex-item--img'>
		<img
			class='optionsCard__imgSm'
			src={item.smImgSrc}
			alt={item.description}
		/>
		<img
			class='optionsCard__imgMd'
			src={item.mdImgSrc}
			alt={item.description}
		/>
		<img
			class='optionsCard__imgLg'
			src={item.lgImgSrc}
			alt={item.description}
		/>
	</div>
	<div class='flex-item'>
		<h2 class='subtitle-xl optionsCard__subtitle'>{item.title}</h2>
		<p class='light-description optionsCard__description'>{item.description}</p>
		<Button
			class='optionsCard__btn'
			id={`openDialog-btn`}
			data-dialogType=`${item.title}`
			variant='transparent-green'>Подробнее</Button
		>
	</div>
</li>

<style>
	.optionsCard {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #eeee;
		padding: 18px;
		border-radius: var(--card-border-radius);
		max-width: 716px;
	}

	.optionsCard__imgSm {
		display: block;
	}

	.optionsCard__imgLg {
		display: none;
	}

	.optionsCard__imgMd {
		display: none;
	}

	.optionsCard img {
		border-radius: var(--card-border-radius);
		margin-bottom: 32px;
	}

	.optionsCard__subtitle {
		margin-bottom: 24px;
		text-align: start;
	}

	.optionsCard__description {
		color: #000;
		margin-bottom: 32px;
	}

	.optionsCard__btn {
		width: 100%;
		display: block;
	}

	@media screen and (min-width: 768px) {
		.optionsCard__imgLg {
			display: block;
		}

		.optionsCard__imgSm {
			display: none;
		}
	}

	@media screen and (min-width: 1440px) {
		.optionsCard {
			max-width: 1264px;
			flex-direction: row;
			gap: 32px;
			padding: 28px;
		}

		.flex-item {
			width: 50%;
			flex: 1;
		}

		.optionsCard img {
			margin-bottom: 0px;
		}

		.optionsCard__btn {
			display: flex;
			justify-content: center;
			align-items: center;
			width: inherit;
			width: 150px;
			height: 49px;
			font-size: 18px;
		}

		.optionsCard__imgMd {
			display: block;
			height: 336px;
			width: 100%;
			object-position: top;
		}

		.optionsCard__imgLg {
			display: none;
		}
	}

	@media screen and (min-width: 1720px) {
		.optionsCard {
			max-width: 1920px;
		}
	}
</style>
