---
import type { HTMLAttributes } from 'astro/types'
import type { CardItem } from '../types'

interface Props extends HTMLAttributes<'li'> {
	item: CardItem
}

const {
	item: { smImgSrc, lgImgSrc, subtitle },
	...props
} = Astro.props
---

<li class='card' {...props}>
	<img class='card__image card__image--sm' src={smImgSrc} alt={subtitle} />
	<img class='card__image card__image--lg' src={lgImgSrc} alt={subtitle} />
	<h3 class='subtitle'>{subtitle}</h3>
</li>

<style>
	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card__image {
		border-radius: var(--card-border-radius);
		margin-bottom: 20px;
		display: block;
	}

	.card__image--sm {
		display: block;
	}

	.card__image--lg {
		display: none;
	}

	@media screen and (min-width: 768px) {
		.card__image--lg {
			display: block;
		}
		.card__image--sm {
			display: none;
		}
	}

	@media screen and (min-width: 1440px) {
		.card__image--lg {
			display: none;
		}
		.card__image--sm {
			display: block;
		}
	}

	@media screen and (min-width: 1920px) {
		.card__image--lg {
			display: block;
		}
		.card__image--sm {
			display: none;
		}
	}
</style>
