---
import type { HTMLAttributes } from 'astro/types'
import company76 from 'src/assets/partner-75.svg'
import dkba from 'src/assets/partner-dkba.svg'
import red from 'src/assets/partner-red.svg'
import metall from 'src/assets/partner-metall.svg'
import sotex from 'src/assets/partner-sotex.svg'
import membranium from 'src/assets/partner-membranium.svg'
import elkab from 'src/assets/partner-elkab.svg'
import { Image } from 'astro:assets'

interface Props extends HTMLAttributes<'section'> {}
---

<section
	id='Партнёры'
	class:list={['partners', Astro.props.class]}
	{...Astro.props}
>
	<div class='container'>
		<h2 class='title partners__title'>Наши партнёры</h2>
		<div class='partners__grid'>
			<Image class='partner-1' src={company76} alt='Компания 76' />
			<Image class='partner-2' src={dkba} alt='Дкба' />
			<Image class='partner-3' src={sotex} alt='Sotex' />
			<Image class='red-img partner-4' src={red} alt='Красное сормово' />
			<Image class='metall-img partner-5' src={metall} alt='Металл' />
			<Image class='partner-6' src={membranium} alt='Мембраниум' />
			<Image class='partner-7' src={elkab} alt='Элкаб' />
		</div>
	</div>
</section>

<style>
	.partners {
		padding-bottom: 56px;
	}
	.partners__grid {
		display: flex;
		row-gap: 30px;
		column-gap: 20px;
		justify-content: center;
		flex-wrap: wrap;
	}

	.partners__title {
		margin-bottom: 42px;
	}

	.red-img {
		width: 150px;
		height: 150px;
	}

	.metall-img {
		width: 150px;
		height: 150px;
	}

	.partner-1 {
		grid-area: company76;
	}

	.partner-2 {
		grid-area: dkba;
	}

	.partner-3 {
		grid-area: sortex;
	}

	.partner-4 {
		grid-area: redC;
	}

	.partner-5 {
		grid-area: metall;
	}

	.partner-6 {
		grid-area: membranium;
	}

	.partner-7 {
		grid-area: elkab;
	}
</style>
