---
import { Image } from 'astro:assets'
import rec1 from 'src/assets/recommendation-1.png'
import rec2 from 'src/assets/recommendation-2.png'
import rec3 from 'src/assets/recommendation-3.png'
import rec4 from 'src/assets/recommendation-4.png'
import rec5 from 'src/assets/recommendation-5.png'
import rec6 from 'src/assets/recommendation-6.png'
import rec7 from 'src/assets/recommendation-7.png'
import rec8 from 'src/assets/recommendation-8.png'
---

<div class='mySwiper'>
	<div class='swiper-container'>
		<div class='swiper-wrapper ui-swiper'>
			<div class='swiper-slide'>
				<Image src={rec1} alt='Рекомендация 1' />
			</div>
			<div class='swiper-slide'>
				<Image src={rec2} alt='Рекомендация 2' />
			</div>
			<div class='swiper-slide'>
				<Image src={rec3} alt='Рекомендация 3' />
			</div>
			<div class='swiper-slide'>
				<Image src={rec4} alt='Рекомендация 4' />
			</div>
			<div class='swiper-slide'>
				<Image src={rec5} alt='Рекомендация 5' />
			</div>
			<div class='swiper-slide'>
				<Image src={rec6} alt='Рекомендация 6' />
			</div>
			<div class='swiper-slide'>
				<Image src={rec7} alt='Рекомендация 7' />
			</div>
			<div class='swiper-slide'>
				<Image src={rec8} alt='Рекомендация 8' />
			</div>
		</div>
		<div class='swiper-button-prev'></div>
		<div class='swiper-button-next'></div>
		<div class='swiper-pagination'></div>
	</div>

	<div id='modal' class='modal modal--closed'>
		<div class='modal-content'>
			<svg
				class='close'
				onclick='closeModal()'
				width='24.000000'
				height='24.000000'
				viewBox='0 0 24 24'
				fill='none'
				xmlns='http://www.w3.org/2000/svg'
				xmlns:xlink='http://www.w3.org/1999/xlink'
			>
				<defs>
					<clipPath id='clip776_980'>
						<rect
							id='Close Icon'
							rx='0.000000'
							width='23.000000'
							height='23.000000'
							transform='translate(0.500000 0.500000)'
							fill='white'
							fill-opacity='0'></rect>
					</clipPath>
				</defs>
				<rect
					id='Close Icon'
					rx='0.000000'
					width='23.000000'
					height='23.000000'
					transform='translate(0.500000 0.500000)'
					fill='#FFFFFF'
					fill-opacity='0'></rect>
				<g clip-path='url(#clip776_980)'>
					<path
						id='Vector'
						d='M18 6L6 18M6 6L18 18'
						stroke='#000'
						stroke-opacity='1.000000'
						stroke-width='2.000000'
						stroke-linejoin='round'
						stroke-linecap='round'></path>
				</g>
			</svg>
		</div>
	</div>
</div>

<link
	rel='stylesheet'
	href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css'
/>
<script
	is:inline
	src='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js'></script>

<script is:inline>
	const swiper = new Swiper('.swiper-container', {
		slidesPerView: 1,
		spaceBetween: 10,

		pagination: {
			el: '.swiper-pagination',
			clickable: true,
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
		breakpoints: {
			720: {
				slidesPerView: 2,
			},
			1024: {
				slidesPerView: 3,
			},
			1440: {
				slidesPerView: 4,
			},
		},
	})

	const swiperSlides = document.querySelectorAll('.swiper-slide')
	swiperSlides.forEach(function (slide) {
		slide.addEventListener('click', function (e) {
			window.open(e.target.src, '_blank')
		})
	})

	function updateSwiperTouchMove() {
		if (window.innerWidth > 1024) {
			swiper.allowTouchMove = false
		} else {
			swiper.allowTouchMove = true
		}
	}

	// Обновляем на старте
	updateSwiperTouchMove()
</script>

<style>
	.mySwiper {
		position: relative;
		overflow: visible;
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none; /* Standard syntax */
	}

	.mySwiper:focus {
		outline: none !important;
	}

	.ui-swiper {
		margin-bottom: 20px;
	}
	.swiper-container {
		padding: 20px;
		overflow: hidden;
	}

	.modal--active {
		display: block;
	}

	.swiper-slide Image {
		cursor: pointer;
	}
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
		position: absolute;
		top: 50%;
		width: 40px;
		height: 40px;
		margin-top: -20px;
		z-index: 10;
		cursor: pointer;
		background-color: var(--primary-color);
		color: #fff;
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
	}

	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 999;
		padding: 0 15px;
	}

	.modal--open {
		display: block;
	}

	.modal--closed {
		display: none;
	}

	.modal-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 720px;
		background: #fff;
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}
	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		width: 24px;
		height: 24px;
	}

	.close Image svg .swiper-pagination {
		position: relative;
		bottom: 10px;
		text-align: center;
	}
	.swiper-pagination-bullet {
		width: 8px;
		height: 8px;
		display: inline-block;
		margin: 0 5px;
		background: var(--primary-color);
		border-radius: 50%;
		cursor: pointer;
	}

	.swiper-button-next {
		right: -70px;
	}
	.swiper-button-prev {
		left: -70px;
	}

	@media screen and (min-width: 1024px) {
		.swiper-button-next,
		.swiper-button-prev {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.swiper-pagination {
			display: none;
		}
	}

	@media screen and (min-width: 1440px) {
		.ui-swiper {
			margin-bottom: 0;
		}
	}
</style>
