---
import '../styles/global.css'

import { SEO } from 'astro-seo'

import hero480 from 'src/assets/manufacture-480.webp'
import hero768 from 'src/assets/manufacture-768.webp'
import hero1440 from 'src/assets/manufacture-1440.webp'
import hero1920 from 'src/assets/manufacture-1920.webp'

interface Props {
	title: string
}
---

<!doctype html>
<html lang='ru'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='shortcut icon' href='/logo.svg' />
		<meta name='generator' content={Astro.generator} />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link rel='preload' as='image' href={hero480.src} />
		<link rel='preload' as='image' href={hero768.src} />
		<link rel='preload' as='image' href={hero1440.src} />
		<link rel='preload' as='image' href={hero1920.src} />

		<meta
			name='keywords'
			content='Производство военной тары, Промышленная тара, Тара для военной техники, Тара для промышленного оборудования, Деревянные ящики для военной техники, Упаковка для боеприпасов и оружия, Тара для ракетной техники, Упаковка для авиационного оборудования, Транспортная тара для химической продукции, Производитель промышленной тары, Герметичные контейнеры для оборудования, Тара для электрооборудования, Тара для пивоваренной продукции, Производство тары для оборонной промышленности, Изготовление металлических контейнеров, Деревянные ящики для перевозки продукции, Упаковка для пищевой промышленности, СМК и ОКВЭД производство тары, Высококачественная промышленная тара'
		/>
		<SEO
			title='Альтаир | Производство тары для промышленности и военной техники'
			description='Компания «Альтаир» — это опытный производитель военной и промышленной тары, работающий в сфере дерево и металлообработки более 10 лет. Мы обеспечиваем полный цикл производства: от разработки концепции до отправки изделий заказчику транспортными компаниями.'
		/>
	</head>
	<body class='wrapper'>
		<slot />
	</body>
</html>
