---
import '../styles/global.css'

import hero480 from 'src/assets/manufacture-480.webp'
import hero768 from 'src/assets/manufacture-768.webp'
import hero1440 from 'src/assets/manufacture-1440.webp'
import hero1920 from 'src/assets/manufacture-1920.webp'

interface Props {
	title?: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='ru'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<meta
			name='keywords'
			content='Производство военной тары, Промышленная тара, Тара для военной техники, Тара для промышленного оборудования, Деревянные ящики для военной техники, Упаковка для боеприпасов и оружия, Тара для ракетной техники, Упаковка для авиационного оборудования, Транспортная тара для химической продукции, Производитель промышленной тары, Герметичные контейнеры для оборудования, Тара для электрооборудования, Тара для пивоваренной продукции, Производство тары для оборонной промышленности, Изготовление металлических контейнеров, Деревянные ящики для перевозки продукции, Упаковка для пищевой промышленности, СМК и ОКВЭД производство тары, Высококачественная промышленная тара'
		/>
		<meta property='og:url' content='https://altair-tara.ru' />
		<meta property='og:locale' content='ru_RU' />
		<meta
			property='og:site_name'
			content='Альтаир | Производство тары для промышленности и военной техники'
		/>
		<meta property='og:type' content='website' />
		<meta name='robots' content='index, follow' />
		<meta
			property='og:title'
			content='Альтаир | Производство тары для промышленности и военной техники'
		/>
		<meta name="yandex-verification" content="5b8cd838db373e93" />
		<meta
			name='description'
			content='Компания «Альтаир» — производитель высококачественной военной и промышленной тары, предоставляющий решения для упаковки и транспортировки военной техники, оборудования и боеприпасов. Мы обеспечиваем полный цикл: от разработки до доставки.'
		/>
		<title>
			{
				title ||
					'Альтаир | Производство тары для промышленности и военной техники'
			}
		</title>
		<link rel='shortcut icon' href='/altair.svg' />
		<meta name='generator' content={Astro.generator} />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link rel='preload' as='image' href={hero480.src} />
		<link rel='preload' as='image' href={hero768.src} />
		<link rel='preload' as='image' href={hero1440.src} />
		<link rel='preload' as='image' href={hero1920.src} />

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "Альтаир",
				"url": "https://altair-tara.ru",
				"logo": "/altair.svg",
				"contactPoint": {
					"@type": "ContactPoint",
					"telephone": "+7-123-456-7890",
					"contactType": "customer service",
					"areaServed": "RU",
					"availableLanguage": "Russian"
				}
			}
			</script>
	</head>
	<body class='wrapper'>
		<slot />
	</body>
</html>
